<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionContact</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newContact</display-name>
    <servlet-name>newContact</servlet-name>
    <servlet-class>servlets.newContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newContact</servlet-name>
    <url-pattern>/newContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeContact</display-name>
    <servlet-name>removeContact</servlet-name>
    <servlet-class>servlets.removeContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeContact</servlet-name>
    <url-pattern>/removeContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchContact</display-name>
    <servlet-name>searchContact</servlet-name>
    <servlet-class>servlets.searchContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchContact</servlet-name>
    <url-pattern>/searchContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateContact</display-name>
    <servlet-name>updateContact</servlet-name>
    <servlet-class>servlets.updateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateContact</servlet-name>
    <url-pattern>/updateContact</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>displayContacts</display-name>
    <servlet-name>displayContacts</servlet-name>
    <servlet-class>servlets.displayContacts</servlet-class>
  </servlet>
</web-app>